.message {
    padding: 10px 15px;
    margin: 8px 0;
    background-color: #fff;
    border-left: 3px solid #f00;
    width: fit-content;
    border-radius: 3px;
    max-width: 70%;
}

.own-message {
    background-color: rgba(255, 0, 0, 0.15);
    margin-left: auto;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 5px;
}

.message-header .username {
    color: #f00;
    margin-right: 5px;
}

.timestamp {
  font-size: 12px;
  color: #999;
}

.message-text {
  word-wrap: break-word;
}